@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Angry User</th>
                <th>Time of day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repository in Model.Repositories)
            {
                <tr>
                    <td>@repository.Name</td>
                    <td>@repository.Owner</td>
                    <td>
                        @repository.AngryUser<a href="@repository.UserGithubProfile"><img src="@repository.UserAvatar" alt="Avatar" class="rounded-circle img-thumbnail" style="width: 25px; height: 25px; object-fit: cover; margin-left:5px;"></a>
                    </td>
                    <td>@repository.TimeOfDay</td>
                </tr>
            }
        </tbody>
    </table>
</div>
