@page "{id}"
@model AngryPullRequests.Web.Pages.RepositoryModel
@{
}
<div class="container mt-2">
    <form method="post">
        <div class="row">
            <input type="hidden" asp-for="Repository.Id" />
            <h4 class="mb-3">Basic Information & Run Schedule</h4>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Repository.Name" class="form-label">Name</label>
                    <p class="form-text my-label-descriptor">Name of the github repository. This will be used to look up the repository information via GitHub API.</p>
                    <input asp-for="Repository.Name" value="@Model.Repository?.Name" class="form-control" />
                    <span asp-validation-for="Repository.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.Owner" class="form-label">Owner</label>
                    <p class="form-text my-label-descriptor">Owner github repository, it can be an individual or an organization. This will be used to look up the repository information via GitHub API.</p>
                    <input asp-for="Repository.Owner" value="@Model.Repository?.Owner" class="form-control" />
                    <span asp-validation-for="Repository.Owner" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Repository.TimeOfDay" class="form-label">Time of Day</label>
                    <p class="form-text my-label-descriptor">UTC time at which the repository report will be generated and delivered.</p>
                    <input asp-for="Repository.TimeOfDay" type="time" value="@Model.Repository.TimeOfDay" class="form-control" />
                    <span asp-validation-for="Repository.TimeOfDay" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="mb-3">Repository Characteristics</h4>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Repository.PullRequestNameRegex" class="form-label">Pull Request Name Regex</label>
                    <p class="form-text my-label-descriptor">Regular expression used to evaluate if the pull request has a valid name or not. The default Regular expression makes all the names valid.</p>
                    <input asp-for="Repository.PullRequestNameRegex" value="@Model.Repository.PullRequestNameRegex" class="form-control" />
                    <span asp-validation-for="Repository.PullRequestNameRegex" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.PullRequestNameCaptureRegex" class="form-label">Pull Request Name Capture Regex</label>
                    <p class="form-text my-label-descriptor">Regular expression used to extract the relevant part of the pull request from full name.</p>
                    <input asp-for="Repository.PullRequestNameCaptureRegex" value="@Model.Repository.PullRequestNameCaptureRegex" class="form-control" />
                    <span asp-validation-for="Repository.PullRequestNameCaptureRegex" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.ReleaseTagRegex" class="form-label">Release Tag Regex</label>
                    <p class="form-text my-label-descriptor">Regular expression used to extract the release tag. The tag must be one of the labels of the pull request.</p>
                    <input asp-for="Repository.ReleaseTagRegex" value="@Model.Repository.ReleaseTagRegex" class="form-control" />
                    <span asp-validation-for="Repository.ReleaseTagRegex" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.InProgressLabel" class="form-label">In Progress Label</label>
                    <p class="form-text my-label-descriptor">Name of the InProgress label. If this label is present in one of the pull request labels it will be marked as a work in progress.</p>
                    <input asp-for="Repository.InProgressLabel" value="@Model.Repository.InProgressLabel" class="form-control" />
                    <span asp-validation-for="Repository.InProgressLabel" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.SmallPrChangeCount" class="form-label">Small Pr Change Count</label>
                    <p class="form-text my-label-descriptor">If the pull request has this many or less changes, it will be marked as small</p>
                    <input asp-for="Repository.SmallPrChangeCount" value="@Model.Repository.SmallPrChangeCount" class="form-control" />
                    <span asp-validation-for="Repository.SmallPrChangeCount" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.LargePrChangeCount" class="form-label">Large Pr Change Count</label>
                    <p class="form-text my-label-descriptor">If the pull request has this many or more changes, it will be marked as large.</p>
                    <input asp-for="Repository.LargePrChangeCount" value="@Model.Repository.LargePrChangeCount" class="form-control" />
                    <span asp-validation-for="Repository.LargePrChangeCount" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.OldPrAgeInDays" class="form-label">Old Pr Age In Days</label>
                    <p class="form-text my-label-descriptor">If the pull equest is older than this value it will be marked as old.</p>
                    <input asp-for="Repository.OldPrAgeInDays" value="@Model.Repository.OldPrAgeInDays" class="form-control" />
                    <span asp-validation-for="Repository.OldPrAgeInDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Repository.InactivePrAgeInDays" class="form-label">Inactive Pr Age In Days</label>
                    <p class="form-text my-label-descriptor">If the pull request has had no activity for this many days or less, it will be marked as inactive.</p>
                    <input asp-for="Repository.InactivePrAgeInDays" value="@Model.Repository.InactivePrAgeInDays" class="form-control" />
                    <span asp-validation-for="Repository.InactivePrAgeInDays" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.DeleteHeavyRatio" class="form-label">Delete Heavy Ratio</label>
                    <p class="form-text my-label-descriptor">If the ratio of deleted changes to total changes is this much or more, the pull request will be marked as a delete heavy one.</p>
                    <input asp-for="Repository.DeleteHeavyRatio" value="@Model.Repository.DeleteHeavyRatio" class="form-control" />
                    <span asp-validation-for="Repository.DeleteHeavyRatio" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.SlackNotificationChannel" class="form-label">Slack Notification Channel</label>
                    <p class="form-text my-label-descriptor">Name of the slack channel which will receive notifications. The slack bot must be added to this channel first.</p>
                    <input asp-for="Repository.SlackNotificationChannel" value="@Model.Repository.SlackNotificationChannel" class="form-control" />
                    <span asp-validation-for="Repository.SlackNotificationChannel" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.SlackAccessToken" class="form-label">Slack Access Token</label>
                    <p class="form-text my-label-descriptor">Access token for the slack bot.</p>
                    <input asp-for="Repository.SlackAccessToken" value="@Model.Repository.SlackAccessToken" class="form-control" />
                    <span asp-validation-for="Repository.SlackAccessToken" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.SlackApiToken" class="form-label">Slack Api Token</label>
                    <p class="form-text my-label-descriptor">Api token for the slack bot.</p>
                    <input asp-for="Repository.SlackApiToken" value="@Model.Repository.SlackApiToken" class="form-control" />
                    <span asp-validation-for="Repository.SlackApiToken" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.IssueBaseUrl" class="form-label">Issue Base Url</label>
                    <p class="form-text my-label-descriptor">Base url for the ticketing system used to track pull requests. If the pull request names contain ticket names, these two will be concatenated to create links to the tickets.</p>
                    <input asp-for="Repository.IssueBaseUrl" value="@Model.Repository.IssueBaseUrl" class="form-control" />
                    <span asp-validation-for="Repository.IssueBaseUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Repository.IssueRegex" class="form-label">Issue Regex</label>
                    <p class="form-text my-label-descriptor">Regular expression to extract ticket name.</p>
                    <input asp-for="Repository.IssueRegex" value="@Model.Repository.IssueRegex" class="form-control" />
                    <span asp-validation-for="Repository.IssueRegex" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-primary" asp-page-handler="SlackTest">Slack Check</button>
            <button class="btn btn-primary" asp-page-handler="GithubTest">Github Check</button>
            <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')" asp-page-handler="Delete">Delete</button>
        </div>
    </form>
</div>